@model SGPI.Models.Usuario
@{
    ViewData["Title"] = "EstudianteAct";
    Layout = "_LayoutSGPI";
}

<h1 align="center">Estudiante Actualizado</h1>
<h6 align="right"><a href="/Administrador/Login" id=" cerrarsesion">Cerrar Sesión </a></h6>


<form action="" class="form-inline justify-content-center">
    <center>
        <!--Agrego el menu-->
        <ul class="nav nav-tabs" class="form">
            <li class="nav-item">
                @Html.ActionLink("EstudianteAct", "EstudianteAct",new{Idusuario = ViewBag.idusuario})
            </li>
            <li class="nav-link" href="">
                <a class="nav-link" href=""></a>

            </li>
            <li class="nav-item">
                @Html.ActionLink("EstudiantePagos", "EstudiantePagos",new{Idusuario = ViewBag.idusuario})

            </li>

        </ul>
    </center>
    <br />
    <br />
</form>
<br />
<br />
<form method="post">
    <!--Creo la columnas-->
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <!--Aca agregamos el select-->
                <label>Tipo de Documento</label>
                <br />
                @Html.DropDownList("IdDoc", new SelectList(ViewBag.documento, "IdDoc", "TipoDocumento"), new{@class="form-control dropdown"})
                <br />
                <label>Programa</label>
                <br />
                @Html.DropDownList("Idprograma", new SelectList(ViewBag.Programa, "Idprograma", "Programa1"), new{@class="form-control dropdown"})
                <br />
                <label>Género</label>
                <br />
                @Html.DropDownList("Idgenero", new SelectList(ViewBag.genero, "Idgenero", "Genero1"), new{@class="form-control dropdown"})
            </div>

            <div class="col">
                <label>Numero de Documento</label>
                <br />
                <input asp-for="NumeroDocumento" type="text" class="form-control col-sm-12" id="numerodocumentousuariotxt" required />
                <br />
                <label>Correo Electronico</label>
                <input asp-for="Email" type="text" class="form-control col-sm-12" id="correoelectronicousuariotxt" required />
                <br />
                <label>Password</label>
                <br />
                <input asp-for="Password" type="password" class="form-control col-sm-12" id="passtxt" required />
            </div>
            <div class="col">
                <label>Primer Nombre</label>
                <br />
                <input asp-for="PrimerNombre" type="text" class="form-control col-sm-12" id="primernombreusuariotxt" required />
                <br />
                <label>Primer Apellido</label>
                <br />
                <input asp-for="PrimerApellido" type="text" class="form-control col-sm-12" id="PrimerApellidousuariotxt" required />

            </div>
            <div class="col">
                <label>Segundo Nombre</label>
                <br />
                <input asp-for="SegundoNombre" type="text" class="form-control col-sm-12" id="Segundonombreusuariotxt" required />
                <br />
                <label>Segundo Apellido</label>
                <br />
                <input asp-for="SegundoApellido" type="text" class="form-control col-sm-12" id="segundoApellidousuariotxt" required />
                <br />
                <br />

                @if (ViewBag.mensaje != null)
                {
                    <div class="alert alert-success" role="alert">
                        @ViewBag.mensaje
                        </div>
                }
                <button type="submit" class="btn btn-outline-danger" id="crearbtn type" submit>Actualizar Usuario </button></center>
            </div>
        </div>
    </div>
</form>



