@model SGPI.Models.Usuario
@{
    ViewData["Title"] = "BuscarUsuario";
    Layout = "_LayoutSGPI";

}
<br />
<h1 align="center">Buscar Usuario</h1>
<h6 align="right"><a href="/Administrador/Login" id=" cerrarsesion">Cerrar Sesión </a></h6>

<form class="form-inline justify-content-center">
    <center>
        <!--Agrego el menu-->
        <ul class="nav nav-tabs">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link " href="/Administrador/CrearUsuario">Crear Usuario</a>
            </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Buscar Usuario</a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/EliminarUsuario">Eliminar Usuario</a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/Reportes">Reportes</a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </ul>
    </center>
</form>
<br />
<br />
<form method="post">

    <div class="input-group">
        <br />
        &nbsp; <input asp-for="NumeroDocumento" type="text" placeholder="Ingrese el documento de identidad" class="form-control col-sm-3" id="buscarusuariotxt" required />
        &nbsp;<button type="submit" class="btn btn-primary mb-3">Buscar</button>

    </div>
    <br />
    <br />
    <br />
    @if (Model != null)
    {

        <table class="table" border="1">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model=>model.NumeroDocumento)</th>
                    <th>@Html.DisplayNameFor(model=>model.PrimerNombre)</th>
                    <th>@Html.DisplayNameFor(model=>model.SegundoNombre)</th>
                    <th>@Html.DisplayNameFor(model=>model.PrimerApellido)</th>
                    <th>@Html.DisplayNameFor(model=>model.SegundoApellido)</th>
                    <th>@Html.DisplayNameFor(model=>model.Email)</th>
                    <th>@Html.DisplayNameFor(model=>model.Password)</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(modelitem=>modelitem.NumeroDocumento)</td>
                    <td>@Html.DisplayFor(modelitem=>modelitem.PrimerNombre)</td>
                    <td>@Html.DisplayFor(modelitem=>modelitem.SegundoNombre)</td>
                    <td>@Html.DisplayFor(modelitem=>modelitem.PrimerApellido)</td>
                    <td>@Html.DisplayFor(modelitem=>modelitem.SegundoApellido)</td>
                    <td>@Html.DisplayFor(modelitem=>modelitem.Email)</td>
                    <td>@Html.DisplayFor(modelitem=>modelitem.Password)</td>
                    <td>@Html.ActionLink("ModificarUsuario","ModificarUsuario", new {Idusuario=Model.Idusuario})</td>
                    <td>@Html.ActionLink("EliminarUsuario","EliminarUsuario",new {Idusuario = Model.Idusuario},new {onclick ="return confirm ('¿Estas seguro de eliminarlo?');"})</td>
                </tr>
            </tbody>
        </table>
    }
</form>
