@model SGPI.Models.Usuario
@{
    ViewData["Title"] = "EliminarUsuario";
    Layout = "_LayoutSGPI";
}

<br />
<h1 align="center">Eliminar Usuario</h1>
<h6 align="right"><a href="/Administrador/Login" id=" cerrarsesion">Cerrar Sesión </a></h6>

<form action="" class="form-inline justify-content-center">
    <center>
        <!--Agrego el menu-->
        <ul class="nav nav-tabs" class="form">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link " href="/Administrador/CrearUsuario">Crear Usuario</a>
            </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link " href="/Administrador/BuscarUsuario">Buscar Usuario</a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Eliminar Usuario</a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/Reportes">Reportes</a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </ul>
    </center>
    <br />
    <br />
</form>
<br />
<br />
<form method="post">
    <label>Buscar Usuario</label>
    <div class="input-group">
        <br />
        <input asp-for="NumeroDocumento" type="text" placeholder="Ingrese el documento de identidad" class="form-control col-sm-3" id="buscarusuariotxt" required />&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary mb-3" href="img/search.png">Buscar</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary mb-3" href="img/search.png">Eliminar</button>

    </div>

    <br />


    <table class="table" border="1">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model=>model.NumeroDocumento)</th>
                <th scope="col">@Html.DisplayNameFor(model=>model.PrimerNombre)</th>
                <th scope="col">@Html.DisplayNameFor(model=>model.SegundoNombre)</th>
                <th scope="col">@Html.DisplayNameFor(model=>model.PrimerApellido)</th>
                <th scope="col">@Html.DisplayNameFor(model=>model.SegundoApellido)</th>
                <th scope="col">@Html.DisplayNameFor(model=>model.Email)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="col">@Html.DisplayFor(modelitem=>modelitem.NumeroDocumento)</td>
                <td scope="col">@Html.DisplayFor(modelitem=>modelitem.PrimerNombre)</td>
                <td scope="col">@Html.DisplayFor(modelitem=>modelitem.SegundoNombre)</td>
                <td scope="col">@Html.DisplayFor(modelitem=>modelitem.PrimerApellido)</td>
                <td scope="col">@Html.DisplayFor(modelitem=>modelitem.SegundoApellido)</td>
                <td scope="col">@Html.DisplayFor(modelitem=>modelitem.Email)</td>

            </tr>
        </tbody>
    </table>
    </center>
    <br />
    <br />
</form>


